* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

.logo {
  width: 14.7px;
  height: 15.25px;
  border: 7.63px;
  color: #ffffff;
  position: absolute;
  margin-top: -41px;
  margin-left: 1px;
  padding: 0;
}

.logo1 {
  width: 57.77px;
  height: 42.36px;
  margin-top: 18.64px;
  margin-left: 1.71px;
  margin-bottom: 10px;
  color: #ffffff;
  padding-top: 5px;
  position: absolute;
}

.text {
  width: 137px;
  height: 51px;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 67px;
  font-family: "TT Norms", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding: 0 0 0 40px;
  background-color: rgba(228, 36, 36, 0.6);
  width: 100%;
  height: 80px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  height: 13px;
  font-family: "Neue Machina", sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  top: 30px;
  left: 705px;
  gap: 120px;
}
.nav:first-child {
  width: 70px;
}
.nav:nth-child(2) {
  width: 147px;
}
.nav:last-child {
  width: 157px;
}
